<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.dao.UserMapper">

    <select id="findAllUserByPage" resultType="User" parameterType="UserVO">
        SELECT
        *
        FROM USER
        <where>
            <if test="true">
                and is_del != 1
            </if>
            <if test="null != username and '' != username">
                and name = #{username}
            </if>
            <if test="null != startCreateTime and null != endCreateTime">
                and create_time between #{startCreateTime} and #{endCreateTime}
            </if>
        </where>
    </select>

    <!-- 修改用户状态 -->
    <update id="updateUserStatus" parameterType="User">
        update user set status = #{status}, update_time = #{update_time} where id = #{id};
    </update>

    <!-- 用户登录 -->
    <select id="login" parameterType="User" resultType="User">
        select * from user where phone = #{phone}
    </select>

    <!-- 根据userId清除用户角色关联表信息 -->
    <delete id="deleteUserContextRole" parameterType="int">
        delete from user_role_relation where user_id = #{userId}
    </delete>

    <!-- 给用户分配角色 -->
    <insert id="userContextRole" parameterType="User_Role_relation">
        insert into user_role_relation values(null,#{userId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedBy})
    </insert>

    <!-- 动态获取菜单开始 -->
    <!-- 1.根据用户ID查询用户关联的角色信息，分配角色（回显） -->
    <select id="findUserRelationRoleById" resultType="Role" parameterType="int">
        select r.* from roles r inner join user_role_relation ur on r.id = ur.role_id where ur.user_id = #{userId}
    </select>

    <!-- 2.根据角色ID，查询角色所拥有的顶级菜单 -->
    <select id="findParentMenuByRoleId" parameterType="java.util.List" resultType="Menu">
        SELECT
            DISTINCT m.*
        FROM roles r INNER JOIN role_menu_relation rm ON r.`id` = rm.role_id
                     INNER JOIN menu m ON rm.menu_id = m.id
        WHERE m.parent_id = -1 AND r.id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 3.根据父级菜单id，查询子级菜单 -->
    <select id="findSubMenuByPid" resultType="Menu" parameterType="int">
        select * from menu where parent_id = #{pid}
    </select>

    <!-- 4.根据角色id，查询角色拥有的资源信息 -->
    <select id="findResourceByRoleId" parameterType="list" resultType="Resource">
        SELECT
	        DISTINCT re.*
        FROM roles r INNER JOIN role_resource_relation rr ON r.id = rr.role_id
			         INNER JOIN resource re ON rr.resource_id = re.id
        WHERE r.id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!-- 动态获取菜单结束 -->
</mapper>