<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- spring整合mybatis -->
    <!-- 加载properties文件 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!-- 1.数据源配置 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 2.SqlSessionFactory工厂类配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 设置类型别名 -->
        <property name="typeAliasesPackage" value="com.lagou.domain"/>
        <!-- 配置分页 -->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageHelper">
                    <property name="properties">
                        <!-- 配置方言 -->
                        <value>helperDialect=mysql</value>
                    </property>
                </bean>
            </array>
        </property>
        <!-- 加载其他配置文件 -->
        <property name="configLocation" value="classpath:sqlMapConfig.xml"/>
    </bean>

    <!-- 3.mapper映射扫面 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 生成指定包下的代理对象，同时加载对应包下的映射文件 -->
        <property name="basePackage" value="com.lagou.dao"/>
    </bean>

</beans>